In [ ]:
# IPython log file

# Thu, 15 Apr 2021 15:01:17
1 + 1
#[Out]# 2
# Thu, 15 Apr 2021 15:02:08
import pandas as pd
# Thu, 15 Apr 2021 15:02:21
df = pd.read_json('sales.json.gz')
# Thu, 15 Apr 2021 15:02:37
df
#[Out]#         store_id  item_id  sale_id      sale_date  sale_amount  ...  item_price           store_address store_zipcode   store_city  store_state
#[Out]# 0              1        1        1  1356998400000           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 1              1        1        2  1357084800000           11  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 2              1        1        3  1357171200000           14  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 3              1        1        4  1357257600000           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 4              1        1        5  1357344000000           10  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# ...          ...      ...      ...            ...          ...  ...         ...                     ...           ...          ...          ...
#[Out]# 912995        10       50   912996  1514332800000           63  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912996        10       50   912997  1514419200000           59  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912997        10       50   912998  1514505600000           74  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912998        10       50   912999  1514592000000           62  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912999        10       50   913000  1514678400000           82  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 
#[Out]# [913000 rows x 14 columns]
# Thu, 15 Apr 2021 15:03:05
df.head(1).T
#[Out]#                                             0
#[Out]# store_id                                    1
#[Out]# item_id                                     1
#[Out]# sale_id                                     1
#[Out]# sale_date                       1356998400000
#[Out]# sale_amount                                13
#[Out]# item_upc14                        35200264013
#[Out]# item_upc12                        35200264013
#[Out]# item_brand                           Riceland
#[Out]# item_name      Riceland American Jazmine Rice
#[Out]# item_price                               0.84
#[Out]# store_address          12125 Alamo Ranch Pkwy
#[Out]# store_zipcode                           78253
#[Out]# store_city                        San Antonio
#[Out]# store_state                                TX
# Thu, 15 Apr 2021 15:03:45
# what is one row, one observation? 1 item sold at 1 store on 1 day
# Thu, 15 Apr 2021 15:04:02
# what do we want an observation to be?
# Thu, 15 Apr 2021 15:05:15
# alot of TSA methods assume evenly spaced data where 1 row = 1 date/time
# Thu, 15 Apr 2021 15:05:56
df
#[Out]#         store_id  item_id  sale_id      sale_date  sale_amount  ...  item_price           store_address store_zipcode   store_city  store_state
#[Out]# 0              1        1        1  1356998400000           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 1              1        1        2  1357084800000           11  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 2              1        1        3  1357171200000           14  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 3              1        1        4  1357257600000           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 4              1        1        5  1357344000000           10  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# ...          ...      ...      ...            ...          ...  ...         ...                     ...           ...          ...          ...
#[Out]# 912995        10       50   912996  1514332800000           63  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912996        10       50   912997  1514419200000           59  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912997        10       50   912998  1514505600000           74  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912998        10       50   912999  1514592000000           62  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912999        10       50   913000  1514678400000           82  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 
#[Out]# [913000 rows x 14 columns]
# Thu, 15 Apr 2021 15:06:17
# is our data in this format?
# Thu, 15 Apr 2021 15:06:34
# we need to set the index to the date column
# Thu, 15 Apr 2021 15:06:50
df.sale_date = pd.to_datetime(df.sale_date)
# Thu, 15 Apr 2021 15:06:53
df.sale_date
#[Out]# 0        1970-01-01 00:22:36.998400
#[Out]# 1        1970-01-01 00:22:37.084800
#[Out]# 2        1970-01-01 00:22:37.171200
#[Out]# 3        1970-01-01 00:22:37.257600
#[Out]# 4        1970-01-01 00:22:37.344000
#[Out]#                     ...            
#[Out]# 912995   1970-01-01 00:25:14.332800
#[Out]# 912996   1970-01-01 00:25:14.419200
#[Out]# 912997   1970-01-01 00:25:14.505600
#[Out]# 912998   1970-01-01 00:25:14.592000
#[Out]# 912999   1970-01-01 00:25:14.678400
#[Out]# Name: sale_date, Length: 913000, dtype: datetime64[ns]
# Thu, 15 Apr 2021 15:08:27
get_ipython().run_line_magic('pinfo', 'pd.to_datetime')
# Thu, 15 Apr 2021 15:08:55
df
#[Out]#         store_id  item_id  sale_id                  sale_date  sale_amount  ...  item_price           store_address store_zipcode   store_city  store_state
#[Out]# 0              1        1        1 1970-01-01 00:22:36.998400           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 1              1        1        2 1970-01-01 00:22:37.084800           11  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 2              1        1        3 1970-01-01 00:22:37.171200           14  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 3              1        1        4 1970-01-01 00:22:37.257600           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 4              1        1        5 1970-01-01 00:22:37.344000           10  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# ...          ...      ...      ...                        ...          ...  ...         ...                     ...           ...          ...          ...
#[Out]# 912995        10       50   912996 1970-01-01 00:25:14.332800           63  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912996        10       50   912997 1970-01-01 00:25:14.419200           59  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912997        10       50   912998 1970-01-01 00:25:14.505600           74  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912998        10       50   912999 1970-01-01 00:25:14.592000           62  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912999        10       50   913000 1970-01-01 00:25:14.678400           82  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 
#[Out]# [913000 rows x 14 columns]
# Thu, 15 Apr 2021 15:08:58
df = pd.read_json('sales.json.gz')
# Thu, 15 Apr 2021 15:09:14
df.sale_date
#[Out]# 0         1356998400000
#[Out]# 1         1357084800000
#[Out]# 2         1357171200000
#[Out]# 3         1357257600000
#[Out]# 4         1357344000000
#[Out]#               ...      
#[Out]# 912995    1514332800000
#[Out]# 912996    1514419200000
#[Out]# 912997    1514505600000
#[Out]# 912998    1514592000000
#[Out]# 912999    1514678400000
#[Out]# Name: sale_date, Length: 913000, dtype: int64
# Thu, 15 Apr 2021 15:09:33
pd.to_datetime(df.sale_date, fmt='%s')
# Thu, 15 Apr 2021 15:09:37
pd.to_datetime(df.sale_date, format='%s')
# Thu, 15 Apr 2021 15:10:03
pd.to_datetime(df.sale_date.astype(int), format='%s')
# Thu, 15 Apr 2021 15:10:50
pd.to_datetime(df.sale_date, units='ms')
# Thu, 15 Apr 2021 15:10:54
pd.to_datetime(df.sale_date, unit='ms')
#[Out]# 0        2013-01-01
#[Out]# 1        2013-01-02
#[Out]# 2        2013-01-03
#[Out]# 3        2013-01-04
#[Out]# 4        2013-01-05
#[Out]#             ...    
#[Out]# 912995   2017-12-27
#[Out]# 912996   2017-12-28
#[Out]# 912997   2017-12-29
#[Out]# 912998   2017-12-30
#[Out]# 912999   2017-12-31
#[Out]# Name: sale_date, Length: 913000, dtype: datetime64[ns]
# Thu, 15 Apr 2021 15:11:02
df.sale_date = pd.to_datetime(df.sale_date, unit='ms')
# Thu, 15 Apr 2021 15:11:14
df
#[Out]#         store_id  item_id  sale_id  sale_date  sale_amount  ...  item_price           store_address store_zipcode   store_city  store_state
#[Out]# 0              1        1        1 2013-01-01           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 1              1        1        2 2013-01-02           11  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 2              1        1        3 2013-01-03           14  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 3              1        1        4 2013-01-04           13  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# 4              1        1        5 2013-01-05           10  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio           TX
#[Out]# ...          ...      ...      ...        ...          ...  ...         ...                     ...           ...          ...          ...
#[Out]# 912995        10       50   912996 2017-12-27           63  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912996        10       50   912997 2017-12-28           59  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912997        10       50   912998 2017-12-29           74  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912998        10       50   912999 2017-12-30           62  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 912999        10       50   913000 2017-12-31           82  ...        5.20    8503 NW Military Hwy         78231  San Antonio           TX
#[Out]# 
#[Out]# [913000 rows x 14 columns]
# Thu, 15 Apr 2021 15:13:27
# is our data evenly spaced in time, each row representing a unique date?
# Thu, 15 Apr 2021 15:13:37
df = df.set_index('sale_date')
# Thu, 15 Apr 2021 15:13:38
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14  ...  item_price           store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                         ...                                                                           
#[Out]# 2013-01-01         1        1        1           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-02         1        1        2           11  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-03         1        1        3           14  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-04         1        1        4           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-05         1        1        5           10  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...          ...  ...         ...                     ...           ...          ...         ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-28        10       50   912997           59  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-29        10       50   912998           74  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-30        10       50   912999           62  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:13:43
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14  ...  item_price           store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                         ...                                                                           
#[Out]# 2013-01-01         1        1        1           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-02         1        1        2           11  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-03         1        1        3           14  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-04         1        1        4           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-05         1        1        5           10  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...          ...  ...         ...                     ...           ...          ...         ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-28        10       50   912997           59  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-29        10       50   912998           74  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-30        10       50   912999           62  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:14:23
# assumption: each row is a unique date
# Thu, 15 Apr 2021 15:15:03
df.sort_index()
#[Out]#             store_id  item_id  sale_id  sale_amount    item_upc14  ...  item_price            store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                          ...                                                                            
#[Out]# 2013-01-01         1        1        1           13   35200264013  ...        0.84   12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-01         3       17   295813           26   88313590791  ...        1.16  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# 2013-01-01        10        7   125995           32   70177154004  ...        9.64     8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2013-01-01         3       18   314073           45   21200725340  ...        4.39  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# 2013-01-01         3       19   332333           34   41520035646  ...        0.74  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...           ...  ...         ...                      ...           ...          ...         ...
#[Out]# 2017-12-31         7       39   706662           31   28400029254  ...        9.02   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       40   724922           22   42272008063  ...        0.60   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       41   743182           19   31000670016  ...        5.62   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       28   505802           59  719175900007  ...        7.52   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82   47445919221  ...        5.20     8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:15:07
df.sort_index()
#[Out]#             store_id  item_id  sale_id  sale_amount    item_upc14  ...  item_price            store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                          ...                                                                            
#[Out]# 2013-01-01         1        1        1           13   35200264013  ...        0.84   12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-01         3       17   295813           26   88313590791  ...        1.16  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# 2013-01-01        10        7   125995           32   70177154004  ...        9.64     8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2013-01-01         3       18   314073           45   21200725340  ...        4.39  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# 2013-01-01         3       19   332333           34   41520035646  ...        0.74  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...           ...  ...         ...                      ...           ...          ...         ...
#[Out]# 2017-12-31         7       39   706662           31   28400029254  ...        9.02   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       40   724922           22   42272008063  ...        0.60   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       41   743182           19   31000670016  ...        5.62   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       28   505802           59  719175900007  ...        7.52   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82   47445919221  ...        5.20     8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:15:24
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14  ...  item_price           store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                         ...                                                                           
#[Out]# 2013-01-01         1        1        1           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-02         1        1        2           11  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-03         1        1        3           14  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-04         1        1        4           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-05         1        1        5           10  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...          ...  ...         ...                     ...           ...          ...         ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-28        10       50   912997           59  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-29        10       50   912998           74  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-30        10       50   912999           62  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:16:20
# one observation: the combination of store, item, and date
# Thu, 15 Apr 2021 15:16:21
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14  ...  item_price           store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                         ...                                                                           
#[Out]# 2013-01-01         1        1        1           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-02         1        1        2           11  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-03         1        1        3           14  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-04         1        1        4           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-05         1        1        5           10  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...          ...  ...         ...                     ...           ...          ...         ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-28        10       50   912997           59  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-29        10       50   912998           74  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-30        10       50   912999           62  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:16:53
df.sort_index()
#[Out]#             store_id  item_id  sale_id  sale_amount    item_upc14  ...  item_price            store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                          ...                                                                            
#[Out]# 2013-01-01         1        1        1           13   35200264013  ...        0.84   12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-01         3       17   295813           26   88313590791  ...        1.16  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# 2013-01-01        10        7   125995           32   70177154004  ...        9.64     8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2013-01-01         3       18   314073           45   21200725340  ...        4.39  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# 2013-01-01         3       19   332333           34   41520035646  ...        0.74  2118 Fredericksburg Rdj         78201  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...           ...  ...         ...                      ...           ...          ...         ...
#[Out]# 2017-12-31         7       39   706662           31   28400029254  ...        9.02   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       40   724922           22   42272008063  ...        0.60   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       41   743182           19   31000670016  ...        5.62   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31         7       28   505802           59  719175900007  ...        7.52   12018 Perrin Beitel Rd         78217  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82   47445919221  ...        5.20     8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:17:13
# how could we transform the data such that each row represents a unique date?
# Thu, 15 Apr 2021 15:17:51
# A: aggregate or filter
# Thu, 15 Apr 2021 15:18:50
df.resample('D').sale_amount.sum()
#[Out]# sale_date
#[Out]# 2013-01-01    13696
#[Out]# 2013-01-02    13678
#[Out]# 2013-01-03    14488
#[Out]# 2013-01-04    15677
#[Out]# 2013-01-05    16237
#[Out]#               ...  
#[Out]# 2017-12-27    20378
#[Out]# 2017-12-28    21885
#[Out]# 2017-12-29    23535
#[Out]# 2017-12-30    24988
#[Out]# 2017-12-31    26420
#[Out]# Freq: D, Name: sale_amount, Length: 1826, dtype: int64
# Thu, 15 Apr 2021 15:20:03
# the way we choose to aggregate or data is going to depend on how we approach the problem we are trying to solve
# Thu, 15 Apr 2021 15:21:18
# lets say we want to look at sales (sum sale_amount) for *each* store for *each* day
# Thu, 15 Apr 2021 15:21:43
df.groupby('store_id').resample('D').sale_amount.sum()
#[Out]# store_id  sale_date 
#[Out]# 1         2013-01-01    1316
#[Out]#           2013-01-02    1264
#[Out]#           2013-01-03    1305
#[Out]#           2013-01-04    1452
#[Out]#           2013-01-05    1499
#[Out]#                         ... 
#[Out]# 10        2017-12-27    2221
#[Out]#           2017-12-28    2429
#[Out]#           2017-12-29    2687
#[Out]#           2017-12-30    2742
#[Out]#           2017-12-31    2939
#[Out]# Name: sale_amount, Length: 18260, dtype: int64
# Thu, 15 Apr 2021 15:22:23
df.groupby('store_id').resample('D').sale_amount.sum().unstack()
#[Out]# sale_date  2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06  ...  2017-12-26  2017-12-27  2017-12-28  2017-12-29  2017-12-30  2017-12-31
#[Out]# store_id                                                                           ...                                                                        
#[Out]# 1                1316        1264        1305        1452        1499        1613  ...        1843        1837        1951        2116        2304        2388
#[Out]# 2                1742        1808        1887        1983        2087        2206  ...        2581        2624        2839        3025        3151        3370
#[Out]# 3                1588        1538        1635        1741        1887        1956  ...        2362        2365        2479        2646        2885        3086
#[Out]# 4                1423        1432        1534        1685        1649        1927  ...        2238        2176        2306        2460        2637        2844
#[Out]# 5                1032         997        1130        1258        1154        1265  ...        1607        1552        1696        1774        1922        1974
#[Out]# 6                1099        1023        1149        1201        1286        1359  ...        1566        1560        1707        1737        1877        2009
#[Out]# 7                 964         944         966        1040        1131        1193  ...        1459        1471        1509        1689        1721        1831
#[Out]# 8                1628        1687        1736        1966        2005        2085  ...        2577        2468        2660        2923        3109        3205
#[Out]# 9                1383        1455        1492        1612        1698        1781  ...        2191        2104        2309        2478        2640        2774
#[Out]# 10               1521        1530        1654        1739        1841        1906  ...        2314        2221        2429        2687        2742        2939
#[Out]# 
#[Out]# [10 rows x 1826 columns]
# Thu, 15 Apr 2021 15:22:29
df.groupby('store_id').resample('D').sale_amount.sum().unstack(0)
#[Out]# store_id      1     2     3     4     5     6     7     8     9     10
#[Out]# sale_date                                                             
#[Out]# 2013-01-01  1316  1742  1588  1423  1032  1099   964  1628  1383  1521
#[Out]# 2013-01-02  1264  1808  1538  1432   997  1023   944  1687  1455  1530
#[Out]# 2013-01-03  1305  1887  1635  1534  1130  1149   966  1736  1492  1654
#[Out]# 2013-01-04  1452  1983  1741  1685  1258  1201  1040  1966  1612  1739
#[Out]# 2013-01-05  1499  2087  1887  1649  1154  1286  1131  2005  1698  1841
#[Out]# ...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
#[Out]# 2017-12-27  1837  2624  2365  2176  1552  1560  1471  2468  2104  2221
#[Out]# 2017-12-28  1951  2839  2479  2306  1696  1707  1509  2660  2309  2429
#[Out]# 2017-12-29  2116  3025  2646  2460  1774  1737  1689  2923  2478  2687
#[Out]# 2017-12-30  2304  3151  2885  2637  1922  1877  1721  3109  2640  2742
#[Out]# 2017-12-31  2388  3370  3086  2844  1974  2009  1831  3205  2774  2939
#[Out]# 
#[Out]# [1826 rows x 10 columns]
# Thu, 15 Apr 2021 15:22:57
df.groupby('store_id').resample('D').sale_amount.sum()
#[Out]# store_id  sale_date 
#[Out]# 1         2013-01-01    1316
#[Out]#           2013-01-02    1264
#[Out]#           2013-01-03    1305
#[Out]#           2013-01-04    1452
#[Out]#           2013-01-05    1499
#[Out]#                         ... 
#[Out]# 10        2017-12-27    2221
#[Out]#           2017-12-28    2429
#[Out]#           2017-12-29    2687
#[Out]#           2017-12-30    2742
#[Out]#           2017-12-31    2939
#[Out]# Name: sale_amount, Length: 18260, dtype: int64
# Thu, 15 Apr 2021 15:23:17
df.groupby('store_id').resample('D').sale_amount.sum().unstack(0)
#[Out]# store_id      1     2     3     4     5     6     7     8     9     10
#[Out]# sale_date                                                             
#[Out]# 2013-01-01  1316  1742  1588  1423  1032  1099   964  1628  1383  1521
#[Out]# 2013-01-02  1264  1808  1538  1432   997  1023   944  1687  1455  1530
#[Out]# 2013-01-03  1305  1887  1635  1534  1130  1149   966  1736  1492  1654
#[Out]# 2013-01-04  1452  1983  1741  1685  1258  1201  1040  1966  1612  1739
#[Out]# 2013-01-05  1499  2087  1887  1649  1154  1286  1131  2005  1698  1841
#[Out]# ...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
#[Out]# 2017-12-27  1837  2624  2365  2176  1552  1560  1471  2468  2104  2221
#[Out]# 2017-12-28  1951  2839  2479  2306  1696  1707  1509  2660  2309  2429
#[Out]# 2017-12-29  2116  3025  2646  2460  1774  1737  1689  2923  2478  2687
#[Out]# 2017-12-30  2304  3151  2885  2637  1922  1877  1721  3109  2640  2742
#[Out]# 2017-12-31  2388  3370  3086  2844  1974  2009  1831  3205  2774  2939
#[Out]# 
#[Out]# [1826 rows x 10 columns]
# Thu, 15 Apr 2021 15:24:36
df.pivot_table('sale_amount', index='sale_date', columns='store_id', aggfunc='sum')
#[Out]# store_id      1     2     3     4     5     6     7     8     9     10
#[Out]# sale_date                                                             
#[Out]# 2013-01-01  1316  1742  1588  1423  1032  1099   964  1628  1383  1521
#[Out]# 2013-01-02  1264  1808  1538  1432   997  1023   944  1687  1455  1530
#[Out]# 2013-01-03  1305  1887  1635  1534  1130  1149   966  1736  1492  1654
#[Out]# 2013-01-04  1452  1983  1741  1685  1258  1201  1040  1966  1612  1739
#[Out]# 2013-01-05  1499  2087  1887  1649  1154  1286  1131  2005  1698  1841
#[Out]# ...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
#[Out]# 2017-12-27  1837  2624  2365  2176  1552  1560  1471  2468  2104  2221
#[Out]# 2017-12-28  1951  2839  2479  2306  1696  1707  1509  2660  2309  2429
#[Out]# 2017-12-29  2116  3025  2646  2460  1774  1737  1689  2923  2478  2687
#[Out]# 2017-12-30  2304  3151  2885  2637  1922  1877  1721  3109  2640  2742
#[Out]# 2017-12-31  2388  3370  3086  2844  1974  2009  1831  3205  2774  2939
#[Out]# 
#[Out]# [1826 rows x 10 columns]
# Thu, 15 Apr 2021 15:25:05
# pick one of either the .groupby().resample()...unstack() OR .pivot_table
# Thu, 15 Apr 2021 15:25:49
# store, item, date
# Thu, 15 Apr 2021 15:26:33
df.pivot_table('sale_amount', index='sale_date', columns='item_id', aggfunc='sum')
#[Out]# item_id      1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16  ...   35   36   37   38   39   40   41   42   43   44   45   46   47   48   49   50
#[Out]# sale_date                                                                                   ...                                                                                
#[Out]# 2013-01-01  133  327  172  102   83  288  278  416  245  378  369  369  444  310  453  144  ...  350  431  157  381  248  179  103  195  253  154  396  319  116  277  159  330
#[Out]# 2013-01-02   99  279  213  110   81  310  291  386  225  397  396  326  434  363  442  136  ...  345  391  151  432  225  145  132  215  255  165  393  316  118  281  159  384
#[Out]# 2013-01-03  127  304  193  112   96  309  324  398  265  388  398  384  455  337  487  137  ...  316  443  158  437  254  172  131  215  306  170  459  325  104  280  187  356
#[Out]# 2013-01-04  145  359  218  138  108  343  335  430  313  462  460  435  474  371  533  141  ...  389  466  174  494  284  184  122  224  323  189  450  351  128  296  184  394
#[Out]# 2013-01-05  149  377  217  144  100  343  377  481  319  449  417  438  493  366  604  145  ...  448  453  189  509  283  174  142  243  309  202  533  360  133  344  179  407
#[Out]# ...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
#[Out]# 2017-12-27  154  500  282  172  148  406  457  579  387  546  576  551  689  468  670  185  ...  530  630  215  592  313  256  176  264  381  233  681  487  171  374  231  511
#[Out]# 2017-12-28  178  495  298  190  157  506  499  644  420  609  589  593  736  522  675  201  ...  499  664  249  693  362  264  172  346  415  248  707  473  188  395  276  587
#[Out]# 2017-12-29  207  515  332  192  177  530  532  648  494  617  657  654  736  513  778  213  ...  585  727  273  782  400  275  185  304  457  277  724  548  213  496  237  596
#[Out]# 2017-12-30  236  538  342  211  173  532  609  784  492  698  710  682  801  534  864  231  ...  640  752  260  788  429  258  177  338  507  266  762  566  190  502  303  612
#[Out]# 2017-12-31  227  634  402  228  188  565  610  823  544  721  700  691  849  576  836  282  ...  647  817  263  821  414  305  246  364  487  299  805  605  211  494  285  626
#[Out]# 
#[Out]# [1826 rows x 50 columns]
# Thu, 15 Apr 2021 15:31:27
df.index.max() - df.index.min() + pd.Timedelta('1d')
#[Out]# Timedelta('1826 days 00:00:00')
# Thu, 15 Apr 2021 15:32:00
df.pivot_table('sale_amount', index='sale_date', columns='store_id', aggfunc='sum')
#[Out]# store_id      1     2     3     4     5     6     7     8     9     10
#[Out]# sale_date                                                             
#[Out]# 2013-01-01  1316  1742  1588  1423  1032  1099   964  1628  1383  1521
#[Out]# 2013-01-02  1264  1808  1538  1432   997  1023   944  1687  1455  1530
#[Out]# 2013-01-03  1305  1887  1635  1534  1130  1149   966  1736  1492  1654
#[Out]# 2013-01-04  1452  1983  1741  1685  1258  1201  1040  1966  1612  1739
#[Out]# 2013-01-05  1499  2087  1887  1649  1154  1286  1131  2005  1698  1841
#[Out]# ...          ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
#[Out]# 2017-12-27  1837  2624  2365  2176  1552  1560  1471  2468  2104  2221
#[Out]# 2017-12-28  1951  2839  2479  2306  1696  1707  1509  2660  2309  2429
#[Out]# 2017-12-29  2116  3025  2646  2460  1774  1737  1689  2923  2478  2687
#[Out]# 2017-12-30  2304  3151  2885  2637  1922  1877  1721  3109  2640  2742
#[Out]# 2017-12-31  2388  3370  3086  2844  1974  2009  1831  3205  2774  2939
#[Out]# 
#[Out]# [1826 rows x 10 columns]
# Thu, 15 Apr 2021 15:32:37
df.index
#[Out]# DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
#[Out]#                '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
#[Out]#                '2013-01-09', '2013-01-10',
#[Out]#                ...
#[Out]#                '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
#[Out]#                '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
#[Out]#                '2017-12-30', '2017-12-31'],
#[Out]#               dtype='datetime64[ns]', name='sale_date', length=913000, freq=None)
# Thu, 15 Apr 2021 15:32:58
df.groupby(df.index).size()
#[Out]# sale_date
#[Out]# 2013-01-01    500
#[Out]# 2013-01-02    500
#[Out]# 2013-01-03    500
#[Out]# 2013-01-04    500
#[Out]# 2013-01-05    500
#[Out]#              ... 
#[Out]# 2017-12-27    500
#[Out]# 2017-12-28    500
#[Out]# 2017-12-29    500
#[Out]# 2017-12-30    500
#[Out]# 2017-12-31    500
#[Out]# Length: 1826, dtype: int64
# Thu, 15 Apr 2021 15:34:36
df.groupby(df.index).size().std()
#[Out]# 0.0
# Thu, 15 Apr 2021 15:35:33
df.index.max()
#[Out]# Timestamp('2017-12-31 00:00:00')
# Thu, 15 Apr 2021 15:35:57
pd.Timedelta('1h')
#[Out]# Timedelta('0 days 01:00:00')
# Thu, 15 Apr 2021 15:36:21
df.index.max() + pd.Timedelta('1d')
#[Out]# Timestamp('2018-01-01 00:00:00')
# Thu, 15 Apr 2021 15:36:43
df.index.max() + pd.Timedelta('2 weeks')
# Thu, 15 Apr 2021 15:36:48
df.index.max() + pd.Timedelta('2w')
#[Out]# Timestamp('2018-01-14 00:00:00')
# Thu, 15 Apr 2021 15:36:59
df.index.max() - pd.Timedelta('2w')
#[Out]# Timestamp('2017-12-17 00:00:00')
# Thu, 15 Apr 2021 15:38:01
# assumption: the item price is the same at each store
# Thu, 15 Apr 2021 15:38:05
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14  ...  item_price           store_address store_zipcode   store_city store_state
#[Out]# sale_date                                                         ...                                                                           
#[Out]# 2013-01-01         1        1        1           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-02         1        1        2           11  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-03         1        1        3           14  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-04         1        1        4           13  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# 2013-01-05         1        1        5           10  35200264013  ...        0.84  12125 Alamo Ranch Pkwy         78253  San Antonio          TX
#[Out]# ...              ...      ...      ...          ...          ...  ...         ...                     ...           ...          ...         ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-28        10       50   912997           59  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-29        10       50   912998           74  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-30        10       50   912999           62  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 2017-12-31        10       50   913000           82  47445919221  ...        5.20    8503 NW Military Hwy         78231  San Antonio          TX
#[Out]# 
#[Out]# [913000 rows x 13 columns]
# Thu, 15 Apr 2021 15:39:03
df.groupby(['store_id', 'item_id']).item_price.value_counts()
#[Out]# store_id  item_id  item_price
#[Out]# 1         1        0.84          1826
#[Out]#           2        6.44          1826
#[Out]#           3        2.43          1826
#[Out]#           4        3.14          1826
#[Out]#           5        2.61          1826
#[Out]#                                  ... 
#[Out]# 10        46       4.65          1826
#[Out]#           47       7.38          1826
#[Out]#           48       3.72          1826
#[Out]#           49       9.54          1826
#[Out]#           50       5.20          1826
#[Out]# Name: item_price, Length: 500, dtype: int64
# Thu, 15 Apr 2021 15:39:39
df.groupby(['store_id', 'item_id']).item_price.std()
#[Out]# store_id  item_id
#[Out]# 1         1          0.0
#[Out]#           2          0.0
#[Out]#           3          0.0
#[Out]#           4          0.0
#[Out]#           5          0.0
#[Out]#                     ... 
#[Out]# 10        46         0.0
#[Out]#           47         0.0
#[Out]#           48         0.0
#[Out]#           49         0.0
#[Out]#           50         0.0
#[Out]# Name: item_price, Length: 500, dtype: float64
# Thu, 15 Apr 2021 15:39:53
(df.groupby(['store_id', 'item_id']).item_price.std() == 0).all()
#[Out]# True
# Thu, 15 Apr 2021 15:41:23
# the price hasn't changed over time
# Thu, 15 Apr 2021 15:41:35
# is the item price the same at every store?
# Thu, 15 Apr 2021 15:42:16
df.groupby('item_id').item_price.std()
#[Out]# item_id
#[Out]# 1     0.0
#[Out]# 2     0.0
#[Out]# 3     0.0
#[Out]# 4     0.0
#[Out]# 5     0.0
#[Out]# 6     0.0
#[Out]# 7     0.0
#[Out]# 8     0.0
#[Out]# 9     0.0
#[Out]# 10    0.0
#[Out]# 11    0.0
#[Out]# 12    0.0
#[Out]# 13    0.0
#[Out]# 14    0.0
#[Out]# 15    0.0
#[Out]# 16    0.0
#[Out]# 17    0.0
#[Out]# 18    0.0
#[Out]# 19    0.0
#[Out]# 20    0.0
#[Out]# 21    0.0
#[Out]# 22    0.0
#[Out]# 23    0.0
#[Out]# 24    0.0
#[Out]# 25    0.0
#[Out]# 26    0.0
#[Out]# 27    0.0
#[Out]# 28    0.0
#[Out]# 29    0.0
#[Out]# 30    0.0
#[Out]# 31    0.0
#[Out]# 32    0.0
#[Out]# 33    0.0
#[Out]# 34    0.0
#[Out]# 35    0.0
#[Out]# 36    0.0
#[Out]# 37    0.0
#[Out]# 38    0.0
#[Out]# 39    0.0
#[Out]# 40    0.0
#[Out]# 41    0.0
#[Out]# 42    0.0
#[Out]# 43    0.0
#[Out]# 44    0.0
#[Out]# 45    0.0
#[Out]# 46    0.0
#[Out]# 47    0.0
#[Out]# 48    0.0
#[Out]# 49    0.0
#[Out]# 50    0.0
#[Out]# Name: item_price, dtype: float64
# Thu, 15 Apr 2021 15:42:53
# there's no change in item price
# Thu, 15 Apr 2021 15:45:34
df.head(2).T
#[Out]# sale_date                          2013-01-01                      2013-01-02
#[Out]# store_id                                    1                               1
#[Out]# item_id                                     1                               1
#[Out]# sale_id                                     1                               2
#[Out]# sale_amount                                13                              11
#[Out]# item_upc14                        35200264013                     35200264013
#[Out]# item_upc12                        35200264013                     35200264013
#[Out]# item_brand                           Riceland                        Riceland
#[Out]# item_name      Riceland American Jazmine Rice  Riceland American Jazmine Rice
#[Out]# item_price                               0.84                            0.84
#[Out]# store_address          12125 Alamo Ranch Pkwy          12125 Alamo Ranch Pkwy
#[Out]# store_zipcode                           78253                           78253
#[Out]# store_city                        San Antonio                     San Antonio
#[Out]# store_state                                TX                              TX
# Thu, 15 Apr 2021 15:47:10
# how could we calculate total sales for each time? In $s -- total = price per unit  * amount sold
# Thu, 15 Apr 2021 15:47:56
df['sale_total'] = df.item_price * df.sale_amount
# Thu, 15 Apr 2021 15:48:00
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14   item_upc12  ... item_price           store_address  store_zipcode   store_city  store_state sale_total
#[Out]# sale_date                                                                      ...                                                                                       
#[Out]# 2013-01-01         1        1        1           13  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      10.92
#[Out]# 2013-01-02         1        1        2           11  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX       9.24
#[Out]# 2013-01-03         1        1        3           14  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      11.76
#[Out]# 2013-01-04         1        1        4           13  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      10.92
#[Out]# 2013-01-05         1        1        5           10  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX       8.40
#[Out]# ...              ...      ...      ...          ...          ...          ...  ...        ...                     ...            ...          ...          ...        ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     327.60
#[Out]# 2017-12-28        10       50   912997           59  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     306.80
#[Out]# 2017-12-29        10       50   912998           74  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     384.80
#[Out]# 2017-12-30        10       50   912999           62  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     322.40
#[Out]# 2017-12-31        10       50   913000           82  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     426.40
#[Out]# 
#[Out]# [913000 rows x 14 columns]
# Thu, 15 Apr 2021 15:49:10
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14   item_upc12  ... item_price           store_address  store_zipcode   store_city  store_state sale_total
#[Out]# sale_date                                                                      ...                                                                                       
#[Out]# 2013-01-01         1        1        1           13  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      10.92
#[Out]# 2013-01-02         1        1        2           11  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX       9.24
#[Out]# 2013-01-03         1        1        3           14  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      11.76
#[Out]# 2013-01-04         1        1        4           13  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      10.92
#[Out]# 2013-01-05         1        1        5           10  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX       8.40
#[Out]# ...              ...      ...      ...          ...          ...          ...  ...        ...                     ...            ...          ...          ...        ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     327.60
#[Out]# 2017-12-28        10       50   912997           59  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     306.80
#[Out]# 2017-12-29        10       50   912998           74  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     384.80
#[Out]# 2017-12-30        10       50   912999           62  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     322.40
#[Out]# 2017-12-31        10       50   913000           82  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     426.40
#[Out]# 
#[Out]# [913000 rows x 14 columns]
# Thu, 15 Apr 2021 15:49:26
# is there a difference between item_upc14 and item_upc12
# Thu, 15 Apr 2021 15:50:49
# does item_id correspond to one upc?
# Thu, 15 Apr 2021 15:51:41
df.item_upc12 == df.item_upc14
#[Out]# sale_date
#[Out]# 2013-01-01    True
#[Out]# 2013-01-02    True
#[Out]# 2013-01-03    True
#[Out]# 2013-01-04    True
#[Out]# 2013-01-05    True
#[Out]#               ... 
#[Out]# 2017-12-27    True
#[Out]# 2017-12-28    True
#[Out]# 2017-12-29    True
#[Out]# 2017-12-30    True
#[Out]# 2017-12-31    True
#[Out]# Length: 913000, dtype: bool
# Thu, 15 Apr 2021 15:52:03
(df.item_upc12 == df.item_upc14).all()
#[Out]# True
# Thu, 15 Apr 2021 15:52:06
df
#[Out]#             store_id  item_id  sale_id  sale_amount   item_upc14   item_upc12  ... item_price           store_address  store_zipcode   store_city  store_state sale_total
#[Out]# sale_date                                                                      ...                                                                                       
#[Out]# 2013-01-01         1        1        1           13  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      10.92
#[Out]# 2013-01-02         1        1        2           11  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX       9.24
#[Out]# 2013-01-03         1        1        3           14  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      11.76
#[Out]# 2013-01-04         1        1        4           13  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX      10.92
#[Out]# 2013-01-05         1        1        5           10  35200264013  35200264013  ...       0.84  12125 Alamo Ranch Pkwy          78253  San Antonio           TX       8.40
#[Out]# ...              ...      ...      ...          ...          ...          ...  ...        ...                     ...            ...          ...          ...        ...
#[Out]# 2017-12-27        10       50   912996           63  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     327.60
#[Out]# 2017-12-28        10       50   912997           59  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     306.80
#[Out]# 2017-12-29        10       50   912998           74  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     384.80
#[Out]# 2017-12-30        10       50   912999           62  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     322.40
#[Out]# 2017-12-31        10       50   913000           82  47445919221  47445919221  ...       5.20    8503 NW Military Hwy          78231  San Antonio           TX     426.40
#[Out]# 
#[Out]# [913000 rows x 14 columns]
# Thu, 15 Apr 2021 15:54:39
# does each store carry each item?
# Thu, 15 Apr 2021 15:55:11
df.groupby('store_id').item_id.nunique()
#[Out]# store_id
#[Out]# 1     50
#[Out]# 2     50
#[Out]# 3     50
#[Out]# 4     50
#[Out]# 5     50
#[Out]# 6     50
#[Out]# 7     50
#[Out]# 8     50
#[Out]# 9     50
#[Out]# 10    50
#[Out]# Name: item_id, dtype: int64
# Thu, 15 Apr 2021 15:56:26
df.item_id.nunique()
#[Out]# 50